@charset "utf-8";
/* CSS Document */

	  html, body {
		height: 100%;
		padding: 0;
		margin: 0;
		font-family: 'Open Sans', helvetica, sans serif;
	  }
	  
	  h1 {
		  margin-top: 5px;
		  text-transform: uppercase;
		  font-size: 32px;
	  }
	  
	  h3 {
		  margin-top: 10px;
		  }
	 

	  #map {
	  	height: 80px;
	  	height: 80vh;
		border-bottom: 1px dashed #333;
	  }
 
	  #layer_selector {
		position: absolute;
		top: 90px;
		right: 65px;
		padding: 0;
	  }
	  
	  #info-button {
		position: absolute;
		top: 75px;
		left: 70px;
		padding: 0;
	  }
	  button {color: #fff;
	  background-color: rgba(241,141,45, 0.8);
	  border: 1px solid #fff;
	  font-size: 11px;
	  font-weight: bold;
	  }
	  
	  .cbp-spmenu-left {
		position: absolute;
		width: 400px;
		height: 60%;
		top: 110px;
		z-index: 1000;
		left: -400px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		background-color:rgba(255,255,255,0.8);
		padding: 20px;
		font-size:11px;
	  }
	  
	  .cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}
 
	  #layer_selector ul {
		padding: 0; margin: 0;
		list-style-type: none;
	  }
 
	  #layer_selector li {
		padding: 10px 10px;
		margin-bottom: 3px;
		font-size: 11px;
		text-transform: uppercase;
		color: #fff;
		cursor: auto;
		border-radius: 5px;
		background-color: rgba(71,71,71, 0.8);
		
	  }
 
	  #layer_selector li:hover {
		background-color: rgba(241,141,45, 0.8);
		cursor: pointer;
		color: #fff;
	  }
 
	  #layer_selector li.selected {
		background-color: rgba(241,141,45, 0.8);
		color: #fff;
	  }
	  
	  /* logo and heading */
	  .cartodb-overlay.overlay-text .content, .cartodb-overlay.overlay-annotation .content {
		  padding: 10px 10px 10px 80px !important;
		  		background-attachment: scroll;
    	background-clip: border-box;
    	background-image: url("img/NU_logo.png");
   		background-origin: padding-box;
    	background-position: left center;
    	background-repeat: no-repeat;
    background-size: auto 100% !important;
	  }
	  
	  .cartodb-overlay.overlay-text .content > .text strong {
		font-family: "Amatic SC" !important;
		font-weight: 400 !important;
	  }
	  
	  /*on click pop-up */
	  div.cartodb-popup.v2.header div.cartodb-popup-header {
		  padding: 7px 12px !important;
	  }
	  
	  div.cartodb-popup.v2.header.orange div.cartodb-popup-header {
    background: -moz-linear-gradient(center top , #f1792d, #f1602d) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
	  
	  div.cartodb-popup h4 { width: auto !important;
	  color: #dfac8b !important;}
	  
	  /*hover pop-up */
	  div.cartodb-tooltip-content h4 {margin-bottom: 0px !important;}
	  
	  /*bottom content columns */
	  
	.container { position: relative; margin: .5em; }
	  
	.leftColumn {padding: 0 1.25em;}

	.rightColumn { border: 0px solid  #ccc; padding: 0.5em 1.25em; }

	.leftColumn { margin-bottom: .5em; }
	
	

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 19.5em; }

	.rightColumn { position: absolute; top: 0; right: 0; width: 50%; } 
	

}

	  

	  